@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* 기본 컨테이너 */
.my-calendar-container {
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 16px;
    background: #fff;
    box-sizing: border-box;
    font-family: "Pretendard", sans-serif;
    margin: 0 auto;
    color: #595959;
}

/* 상단 */
.my-calendar-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.month-label {
    font-size: 14px;
    font-weight: 600;
}

.nav-buttons {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 4px;
}

.nav-buttons .arrow-btn {
    background: none;
    border: none;
    font-size: 16px;
    color: #595959;
    cursor: pointer;
}

.view-toggle-btn {
    background-color: #e1f2e7 !important;
    border: none !important;
    font-size: 10px !important;
    color: #595959 !important;
    border-radius: 10px;
    padding: 2px 8px;
    cursor: pointer;
}

/* 요일 */
.calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    width: 100%;
}

.weekday {
    font-size: 12px;
    font-weight: 400;
    color: #595959;
}

.weekday:nth-child(1),
.day-tile.sunday .day-number {
    color: #fd5344;
}

/* 날짜 */
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    justify-items: center;
    width: 100%;
}

.day-tile {
    width: 100%;
    aspect-ratio: 1 / 1.1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.day-number {
    font-size: 10px;
    color: #595959;
    background-color: #FBFBFB;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ✅ 완료한 할 일 있는 날짜 → 초록색 채워진 동그라미 */
.day-number.completed {
    background-color: #36a862;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #36a862;
}

/* ✅ 선택된 날짜 → 연한 초록색 테두리 동그라미 */
.day-tile.selected .day-number {
    background-color: #ebf6ef;
    color: #36a862;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #36a862;
}