.category-options-popup {
    position: absolute;
    display: flex;
    width: 144px;
    padding: 4px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 8px;
    background: var(--Grey-White, #FFF);
    top: 144px;
    right: 20px;
    z-index: 1000;
}

.category-options-popup button {
    display: flex;
    padding: 8px 0;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-bottom: 1px solid var(--grey-light-hover, #EBEBEB);
    border: none;
    background: transparent;
    color: var(--Grey-Dark, #595959);
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.category-options-popup button:hover {
    background-color: #f0f0f0;
}

.category-options-popup button:last-child {
    border-top: 1px solid var(--grey-light-hover, #EBEBEB);
    color: var(--Red, #FD5344);
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}