.category-popup {
    position: absolute;
    bottom: 100%;
    left: 65%;
    flex-direction: column;
    border: none;
    display: flex;
    width: 120px;
    padding: 4px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--Green-Light, #EBF6EF);
    margin-bottom: 7px;
    z-index: 1000;
}

.category-popup-item {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;

    display: flex;
    padding: 4px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-bottom: 1px solid var(--grey-light-hover, #EBEBEB);
}

.category-popup-item:hover {
    background: #e0f7e9;
}

.category-popup-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.category-popup-text {
    color: var(--Grey-Dark, #595959);
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    width: 66px;
    height: 14px;
}

.category-popup-text.checkde {
    font-weight: 600;
}