/* src/components/CategoryPopup.css */

.category-popup {
    border-radius: 8px;
    background: var(--Green-Light, #EBF6EF);
    border: none;
    display: flex;
    width: 120px;
    padding: 4px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    bottom: 91px;
    z-index: 9999;
}

.category-popup-empty {
    padding: 8px;
    font-size: 12px;
    color: #888888;
    text-align: center;
}

.category-popup-item {
    display: flex;
    padding: 4px 0;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    width: 90px;
    font-family: "Pretendard", sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #2a2a2a;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-bottom: 1px solid var(--grey-light-hover, #EBEBEB);
}

.category-popup-item:last-child {
    border: none;
}

.category-popup-item.selected {
    font-weight: 600;
    color: var(--Grey-Dark, #595959);
}

.category-popup-icon {
    width: 20px;
    height: 20px;
    aspect-ratio: 1/1;
    flex-shrink: 0;
}

.category-popup-text {
    color: var(--Grey-Dark, #595959);
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.category-popup-item.selected .category-popup-icon path {
    fill: #777777;
    /* 선택 시 SVG 채움 */
    stroke: #777777;
    /* 테두리 색상 */
}

.category-popup-icon path {
    fill: none;
    stroke: #777777;
}