/* src/components/CategoryPopup.css */

.category-popup {
    background: var(--Green-Light, #ebf6ef);
    border: none;
    border-radius: 8px;
    padding: 8px 0;
    width: 150px;
    position: absolute;
    left: 55%;
    bottom: 90px;
    z-index: 9999;
}

.category-popup-empty {
    padding: 8px;
    font-size: 12px;
    color: #888888;
    text-align: center;
}

.category-popup-item {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 10px;
    font-family: "Pretendard", sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #2a2a2a;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.category-popup-item:hover {
    background-color: #f0f0f0;
}

.category-popup-item.selected {
    font-weight: 700;
    color: var(--Grey-Dark, #595959);
}

.category-popup-icon {
    flex-shrink: 0;
}

.category-popup-text {
    flex-grow: 1;
}

.category-popup-item.selected .category-popup-icon path {
    fill: #777777; /* 선택 시 SVG 채움 */
    stroke: #777777; /* 테두리 색상 */
}

.category-popup-icon path {
    fill: none;
    stroke: #777777;
}
