/* 전체 페이지 */
.edit-profile-page {
    font-family: Pretendard;
    position: relative;
    height: 100vh;
    overflow-y: auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* 입력 폼 영역 */
.edit-profile-form {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.edit-profile-form h2 {
    color: #2a2a2a;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 12px 0;
}

/* 입력창 스타일 */
.edit-profile-input {
    display: flex;
    width: 100%;
    max-width: 350px;
    height: 56px;
    padding: 21px 20px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    font-family: Pretendard;
    font-size: 12px;
    font-weight: 400;
    border-radius: 16px;
    border: none;
    outline: none;
    margin-top: 8px;
    color: #595959;
}

/* 비밀번호 입력 컨테이너 */
.password-container {
    position: relative;
    width: 100%;
    max-width: 350px;
}

.password-container .eye-btn {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

/* 오류 메시지 */
.auth-error {
    color: red;
    margin-top: 8px;
}

/* 버튼 영역 */
.edit-profile-btns {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-bottom: 20px;
    margin-top: 24px;
}

.edit-profile-btn {
    display: flex;
    width: 165px;
    height: 56px;
    padding: 20px 54px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 16px;
    cursor: pointer;
    font-family: Pretendard;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

/* 버튼 색상 */
.edit-profile-btn.cancel {
    background-color: #f3f3f3;
    color: #595959;
}

.edit-profile-btn.save {
    background-color: #36a862;
    color: #fff;
}

/* 상단 헤더 */
.edit-profile-header {
    display: flex;
    width: 350px;
    align-items: center;
    margin-bottom: 22px;
}

/* 상단 헤더 */
.edit-profile-header-text {
    color: var(--Grey-Darker, #2A2A2A);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.back-arrow {
    width: 40px;
    height: 40px;
    transform: rotate(-90deg);
    aspect-ratio: 1/1;
    transform: rotate(180deg);
}