/* 사이드바 전체 */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 20;
    box-sizing: border-box;
    display: flex;
    width: 220px;
    height: 844px;
    padding: 80px 24px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    background: var(--Green-Light, #ebf6ef);
}

.sidebar.open {
    transform: translateX(0);
}

/* 메뉴 영역 */
.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    overflow: visible;
}

/* 메뉴 버튼 */
.sidebar-menu-item {
    display: flex;
    padding: 12px 0;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    color: var(--Grey-Darker, #2a2a2a);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--grey-light-active, #d5d5d5);
}

/* 화살표 */
.sidebar-menu-arrow,
.category-plus-icon {
    position: fixed;
    right: 24px;
    width: 20px;
    height: 20px;
    aspect-ratio: 1/1;
}

.category-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

/* 카테고리 목록 */
.category-list {
    display: flex;
    flex-direction: column;
    gap: 0;
    max-height: 479px;
    overflow: auto;
}

/* 일반 카테고리 */
.sidebar-item {
    display: flex;
    padding: 12px 0;
    align-items: center;
    gap: 8px;
    width: 172px;
    align-self: stretch;
    color: var(--Grey-Darker, #2a2a2a);
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

/* 새 카테고리 추가하기 버튼 */
.category-add {
    display: flex;
    padding: 14px 0;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    width: 170px;

    border: none;
    background: transparent;
    border-bottom: 1px solid var(--grey-light-active, #d5d5d5);
    flex: 1 0 0;
    color: var(--Green-Dark, #297e4a);
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sidebar-logout {
    position: fixed;
    bottom: 80px;
    display: flex;
    padding: 12px 0;
    align-items: center;
    gap: 8px;
    width: 170px;
    align-self: stretch;
    border: none;
    border-top: 1px solid var(--grey-light-active, #d5d5d5);
    color: var(--Red, #fd5344);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: transparent;
}

/* 오버레이 */
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 15;
}

.sidebar-input {
    display: flex;
    padding: 12px 0;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: var(--Grey-Normal, #2a2a2a);
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: transparent;
    border: none;
}
