/* todo.css */
.todo-container {
    font-family: "Pretendard", sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* 화면 끝까지 */
    max-width: 100%;
    padding: 10px 20px;
    gap: 10px;
    box-sizing: border-box;
}

/* 카테고리 박스 */
.category-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 16px;
    padding: 0 13px;
    height: 40px;
    width: 125px;
    box-sizing: border-box;
    border: 1px solid var(--green-light-active, #C1E4CE);

}

.category-text {
    font-size: 14px;
    font-weight: 600;
    color: #36A862;
}

/* 할 일 입력창 */
.task-input {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 40px;
    padding: 0 10px;
    border-radius: 16px;
    background: #f3f3f3;
    width: 100%;
    box-sizing: border-box;
    transition: background 0.3s;
}

.task-input.checked-task {
    background-color: #e0f7e9;
    /* 완료 시 변경할 색 */
}

.task-input.checked-bg {
    background: #ebf6ef;
}

.task-input input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-family: "Pretendard", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #2a2a2a;
}

/* 체크 버튼 */
.task-check-btn {
    width: 20px;
    height: 20px;
    border: 1px solid #777;
    border-radius: 50%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
}

/* 점 3개 버튼 */
.task-add-btn {
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.task-input-box {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    flex: 1;
    transition: background-color 0.2s, color 0.2s;
}

.task-input-box.checked-task {
    background-color: #e0f7e9;
    /* 완료 시 연두색 배경 */
    text-decoration: line-through;
    color: #888;
}