* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todo-container {
    display: flex;
    flex-direction: column;
    width: 390px;
    padding: 20px;
    font-family: "Pretendard", sans-serif;
}

.task-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.task-add-btn {
    background: none;
    border: none;
    color: #595959;
    font-size: 18px;
    cursor: pointer;
}

.task-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 8px;
    border-radius: 16px;
    background: var(--Grey-Light, #f3f3f3);
    align-self: stretch;
}

.task-item.checked {
    background-color: #e0f7e9;
}

.task-content {
    display: flex;
    width: 330px;
    height: 24px;
    justify-content: space-between;
    align-items: center;
}

.task-left {
    display: flex;
    align-items: center;
}

.task-check-btn {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    border: 1px solid #777;
    border-radius: 50%;
    background: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    margin-right: 8px;
    line-height: 1;
}

.task-check-btn.checked {
    border: none;
}

.task-text {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: var(--Grey-Darker, #2A2A2A);
}

.task-menu-btn {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.task-time-content,
.task-memo-content {
    display: flex;
    align-items: center;
    gap: 4px;
    align-self: stretch;
}

.task-time-icon,
.task-memo-icon {
    width: 20px;
    height: 20px;
    aspect-ratio: 1/1;
}

.task-time,
.task-memo {
    color: var(--Grey-Dark, #595959);
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.no-notifications {
    margin-top: 16px;
    /* 위쪽 여백 */
    text-align: center;
    /* 가운데 정렬 */
    color: #999999;
    /* 연한 회색 */
    font-size: 14px;
    padding: 20px 0;
    /* 상하 여백 */
}

.task-text-btn.checked {
    color: #888;
}