.title-header {
    color: var(--Grey-Darker, #2A2A2A);
    font-family: Pretendard, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 350px;
    height: 40px;
    margin: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editing {
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: transparent;

    color: var(--Grey-Darker, #2A2A2A);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}