* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-header {
    color: var(--Grey-Darker, #2A2A2A);
    font-family: Pretendard, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 350px;
    margin: 0px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-header {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    border: 1px solid var(--green-light-active, #C1E4CE);
    background: var(--Grey-White, #FFF);
}

.category-title {
    font-size: 12px;
    font-weight: 500;
    color: #36a862;
    margin: 0;
}