/* src/pages/SearchPage.css */

.search-page {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

.search-header {
    display: flex;
    align-items: center;
    padding: 12px; /* 상단 여백 추가 */
    padding-top: 35px;
    border: none;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
}

.back-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-icon {
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    transform: rotate(180deg); /* 오른쪽 화살표를 왼쪽으로 회전 */
    margin-left: 15px;
}

.search-input-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 8px;
    background: #fff;
    border-radius: 8px;
    padding: 4px 8px;
}

.search-input {
    flex: 1 0 0;
    border: none;
    background: none;
    outline: none;
    padding: 4px 8px;
    font-size: 16px;
}

.search-icon {
    width: 20px; /* 크기 줄임 */
    height: 20px; /* 크기 줄임 */
    aspect-ratio: 1/1;
    margin-right: 15px;
}

.search-results {
    display: flex;
    justify-content: center;
}
