/* src/pages/SearchPage.css */

.search-page {
    width: 100%;
    padding: 0;
}

.search-header {
    display: flex;
    align-items: center;
    padding: 26px 20px 20px 20px;
    border: none;
    position: sticky;
    top: 0;
    z-index: 100;
}

.back-icon {
    width: 40px;
    height: 40px;
    transform: rotate(180deg);
    aspect-ratio: 1/1;
}

.search-input-wrapper {
    display: flex;
    padding: 4px 12px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    border-radius: 16px;
    background: #FFF;
}

.search-input {
    flex: 1 0 0;
    border: none;
    background: none;
    outline: none;
    color: var(--Grey-Darker, #2A2A2A);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.search-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin: 10px;
}

.search-results {
    display: flex;
    width: 390px;
    padding: 0px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.task-item.checked {
    background-color: #e0f7e9;
}

.task-check-btn.checked {
    border: none;
}

.task-text-btn.checked {
    color: #888;
}

.task-category-content {
    display: flex;
    position: fixed;
    right: 32px;
    align-items: center;
    border: none;
    background: transparent;
}

.task-category-icon {
    width: 20px;
    height: 20px;
    aspect-ratio: 1/1;
    padding: 3px 5px 4px 5px;
}

.task-category-span {
    color: var(--Grey-Dark, #595959);
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search-history {
    display: flex;
    width: 350px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 20px;
}

.search-history-item {
    display: flex;
    width: 350px;
    padding: 12px;
    align-items: center;
    gap: 4px;
    border-bottom: 1px solid var(--grey-light-hover, #EBEBEB);
}

.search-history-item:last-child {
    border: none;
}

.search-history-item-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    aspect-ratio: 1/1
}

.search-history-item-text {
    flex: 1 0 0;
    color: var(--Grey-Dark, #595959);
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}