body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBFBFB;
}

code {
  font-family: 'Pretendard', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}