* {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  word-break: normal;
  overflow-wrap: break-word;
}

body {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background-color: #FBFBFB;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Pretendard', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}